*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-white: #f1edff;
  --color-black: #000000;
  --color-primary: #c10002;
  --color-green: #00791e;
  --color-blue: #0064ff;
  --color-primary__light: #f34b50;
  --color-primary__lighter: #ff8396;
  --color-lightest: #ffbcda;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
.section:nth-of-type(1) {
  height: 100vh;
  // background-color: var(--color-primary);
  h1 {
    font-size: 4rem;
    padding: 1rem;
  }
}
