*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-white: #f1edff;
  --color-black: #000000;
  --color-primary: #c10002;
  --color-green: #00791e;
  --color-blue: #0064ff;
  --color-primary__light: #f34b50;
  --color-primary__lighter: #ff8396;
  --color-lightest: #ffbcda;
}

.section:nth-of-type(1) {
  height: 100vh;
  h1 {
    font-size: 4rem;
    padding: 1rem;
  }
}

[data-scroll] {
  transition: opacity 1s;
  // opacity: 0;
  // will-change: transform, scale, opacity;
  // transform: translateY(6rem) scale(0.93);
  // transition: all 1.5s cubic-beizer(0.164, 0.84, 0.44, 1);
  // transition: all 1.5s cubic-beizer(0.164, 0.84, 0.44, 1);
  // transition: all 1.5s cubic-beizer(0.164, 0.84, 0.44, 1);
}

[data-scroll='in'] {
  opacity: 1;
  // transform: translateY(0) scale(1);
}
[data-scroll='out'] {
  opacity: 0;
}
