#logo {
  font-size: 3rem;
  padding: 1rem 0 0 1rem;
}
:root {
  --ti-cursor-margin-left: 0.1em;
  --ti-cursor-color: dodgerblue;
  /* --ti-cursor-color: #c10002; */
}
.logo_sub {
  font-size: 1.8rem;
  padding: 1rem 1rem 0 1rem;
  letter-spacing: 0.38rem;
  color: rgb(129, 129, 129);
}
